.progress__container {
  position: fixed;
  background-color: gainsboro;
  top: 0;
  left: 0;
  right: 0;
  height: 280px;
  z-index: 5;
}
.progressbox {
  background-image: url("./../../../assets/image/Animated\ Shape\ \(3\).svg");
  background-color: #141414;
  background-size: cover;
  color: whitesmoke;
  padding: var(--padding__medium);
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  border: 1px solid #4f4f4f5c;
  box-shadow: 0px 5px 5px 0px rgba(26, 25, 37, 0.241);
  position: fixed;
  right: 20px;
  top: 71px;
  left: 290px;
  z-index: 10;
}
.progresses {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 85%; */
}
.progresses h5 {
  margin: 0;
  padding: 0;
}
.selected__date {
  color: rgb(113 113 113);
  margin-top: -5px;
}
@media screen and (max-width: 1024px) {
  .progressbox {
    left: 20px;
    top: 66px;
  }
}
.label {
  padding-right: 9px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.priority__prog {
  padding: 6px;
}

.progress__section {
  padding: 5px;
}

.priority-header {
  display: flex;
  text-align: center;
  font-weight: 500;
  width: 100%;
  justify-content: space-around;
}

.progress__section label {
  color: rgb(255, 253, 253);
  font-weight: 100;
}
.daily {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image__container {
  position: relative;
}
.image {
  width: 5.5rem;
  transform: scale(1.8) translateY(-4px);
}
@media screen and (max-width: 575px) {
  .image {
    display: none;
  }
  .selected__date {
    font-size: 16px;
  }
  .progresses {
    flex-wrap: nowrap;
    width: 38vw;
  }
}
@media screen and (max-width: 655px) {
  .image {
    transform: scale(1.4);
  }
}
@media screen and (max-width: 991px) {
  .image {
    /* display: none; */
    /* width: 150px; */
  }
}
.circular__progress {
  width: 90px;
}
@media screen and (max-width: 1166px) {
  .circular__progress {
    width: 80px;
  }
}
