.App {
  /* background-image: url("./assets/image/Animated\ Shape.svg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: gainsboro;
}
.dashboard {
  padding: 20px;
}
.user-info {
  position: fixed;
  z-index: 10;
  right: 22px;
  left: 300px;
  top: 20px;
}

.day-name {
  color: gray;
  margin-top: -6px;
  padding-right: 2px;
}
.content {
  margin-left: 270px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .user-info {
    left: 75px;
    top: 25px;
  }
  .user-info h4 {
    font-size: medium;
  }
  .day-name {
    font-size: small;
    margin-top: -3px;
  }
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-container img {
  width: 20rem;
}
.not-found {
  /* width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
@media screen and (max-width: 1024px) {
  .content {
    margin-left: 0px;
    margin-top: 47px;
  }
}
