.App {
  /* background-image: url("./assets/image/Animated\ Shape.svg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: gainsboro;
  height: 100vh;
}
.dashboard {
  padding: 20px;
}
.content {
  margin-left: 270px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .content {
    margin-left: 0px;
    margin-top: 47px;
  }
}
